@use "./vars.scss" as *;
@import url("https://api.fontshare.com/v2/css?f[]=thicccboi@400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}
