// Colors
// Orange
$Orange-50:  #FDF0EA;
$Orange-100: #F9D0BF;
$Orange-200: #F6B99F;
$Orange-300: #F29974;
$Orange-400: #EF8559;
$Orange-500: #EB672F;
$Orange-600: #EA581A;
$Orange-700: #B04416;
$Orange-800: #8E350F;
$Orange-900: #632B14;

// Dark Blue 
$Blue-50:  #E9EAED;
$Blue-100: #B9BEC6;
$Blue-200: #989FAB;
$Blue-300: #687384;
$Blue-400: #4B586D;
$Blue-600: #1B2A42;
$Blue-700: #152133;
$Blue-800: #111928;
$Blue-900: #0D131E;

// Gray
$Gray-50:  #FBFBFC;
$Gray-100: #F9F9FA;
$Gray-200: #F2F3F4;
$Gray-250: #E6E8EA;
$Gray-300: #D5D8DC;
$Gray-400: #C0C2C6;
$Gray-500: #A0A2A5;
$Gray-600: #808284;
$Gray-700: #606163;
$Gray-800: #4B4C4D;
$Gray-900: #232229;

// Red 
$R50:  #FEE9E9;
$R60:  #FDCECE;
$R75:  #FBA5A5;
$R100: #F98080;
$R200: #F74949;
$R300: #F52424;
$R400: #AC1919;
$R500: #951616;

// Green 
$G50:  #ECF5EB;
$G60:  #CFE5CC;
$G75:  #B2D6AE;
$G100: #91C48D;
$G200: #62AB5B;
$G300: #429A3A;
$G400: #2E6C29;
$G500: #285E23;

// Yellow 
$Y50:  #FEFAED;
$Y60:  #FCF2D4;
$Y75:  #FAE9B6;
$Y100: #F7E097;
$Y200: #F4D26A;
$Y300: #F2C94C;
$Y400: #CC9E0F;
$Y500: #947B2E;

// Blue 
$B50:  #ECEBFC;
$B75:  #B2ACF2;
$B100: #9289ED;
$B200: #6357E5;
$B300: #4334E0;
$B400: #2F249D;
$B500: #292089;

// Text sizes
// Font families
$font-primary: 'THICCCBOI', sans-serif;

// Font weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Font sizes and line-heights
$h1-font-size: 40px;
$h1-line-height: 52px;

$h2-font-size: 24px;
$h2-line-height: 21px;

$h3-font-size: 18px;
$h3-line-height: 27px;

$body1-font-size:16px;
$body1-line-height: 24px;

$body2-font-size: 14px;
$body2-line-height: 21px;

$caption-font-size: 12px;
$caption-line-height: 18px;

$small-font-size: 10px;
$small-line-height: 16px;